.navbar{
    background-color:black;
}
.nav-link{background-color:slategray;}
.S{
    background-color:gray;
}
.margin{
    padding-top: 50px;
    padding-bottom: 50px; ;
}
.a{
    color: aliceblue;
    background-color: black;
}